---
import  PostHeader from "../components/PostHeader.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<style>
			:root{
				--primary: hsla(31, 53%, 64%, 1.00);
				--secondary: hsla(34, 68%, 46%, 1.00);
				--accent: hsla(44, 100%, 60%, 1.00);
				--muted: hsla(38, 100%, 96%, 1.00);
				--neutral: hsla(0, 0%, 74%, 1.00)
			}
		</style>
		<title>Astro</title>
	</head>
	<body>
		<PostHeader />
	</body>
</html>
