---
import Pill from "./Pill.astro";

interface Category {
  name: string;
  link: string;
}
interface Props {
  categories: Category[];
  ariaLabel?: string;
}
const { categories, ariaLabel = "Kategorien" } = Astro.props;
---

<nav aria-label={ariaLabel}>
  <ul class="list-none flex flex-row flex-wrap gap-2.5" role="list">
    {
      categories.map((category) => (
        <Pill label={category.name} link={category.link} ariaLabel={ariaLabel} />
      ))
    }
  </ul>
</nav>
