---
/**
 * Main Comments Component
 * Combines CommentForm and CommentList
 * This is the primary component to use in recipe pages
 */
import CommentForm from "./CommentForm.astro";
import CommentList from "./CommentList.astro";

interface Props {
  recipeUuid: string;
}

const { recipeUuid } = Astro.props;
---

<section class="comments-section max-w-4xl mx-auto py-12 px-4">
  <!-- Comment List (Existing Comments) -->
  <CommentList recipeUuid={recipeUuid} />

  <!-- Divider -->
  <div class="border-t border-neutral-300 my-12"></div>

  <!-- Comment Form (Add New Comment) -->
  <CommentForm recipeUuid={recipeUuid} />
</section>
