---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<nav>
  <uk>
    <li><a href="#">Home</a></li>
    <li><a href="#">Rezepte</a></li>
    <li><a href="#">About</a></li>
  </uk>
</nav>

<style>
  /* Styles */
</style>
