---
import MenuLink from "./MenuLink.astro";

type Link = {
  label: string;
  link: string;
};

const links: Link[] = [
  { label: "Home", link: "/" },
  { label: "Über mich", link: "/ueber-mich" },
  { label: "Rezepte", link: "/filter" },
  { label: "Kategorien", link: "/kategorien" },
  { label: "Kooperation", link: "/" },
];
---

<nav class="min-h-11 flex items-center gap-6">
  <ul class="flex min-h-11 flex-row flex-nowrap gap-3.5">
    {links.map((link) => <MenuLink label={link.label} url={link.link} fontWeight="bold" />)}
  </ul>
</nav>
