---
import Categories from "./Categories.astro";
import StarReviews from "./StarReviews.astro";
import Button from "./Button.astro";

interface Category {
  name: string;
  link: string;
}

const categories: Category[] = [
  { name: "vegan", link: "#" },
  { name: "vegan", link: "#" },
  { name: "vegan", link: "#" },
  { name: "high protein", link: "#" },
];

const { frontmatter } = Astro.props;
---

<header>
  <Categories categories={categories} />
  <h1>Das ist ein Testtitel</h1>
  <StarReviews rating={510} stars={4.96} />
  <ul>
    <li><Button ariaLabel="testbutton" link="#" label="Zum Rezept springen" /></li>
    <li><Button ariaLabel="testbutton" link="#" label="Rezept Pinnen" /></li>
  </ul>
</header>

<style lang="scss">
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4%;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
</style>
